.cardDiv2{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    max-height: 338px;
    padding-top: -40px;
}
.cardContainer2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    position: relative;
    padding: 53px 50px 43px 31px;
    border-radius: 20px;
    width: 100%;
    border: 1px solid #ABC8D2;
    background-color: #ffffff;
}

.featureBlock1{
    max-width: 760px;
}

.imagebox2 {
    position: relative;
    padding-right: 186px;
}
  
  .cardheading2 {
    position: relative;
    padding: 14px 62px 17px 31px;
    font-size: 22px;
    min-width: 307px;
    font-weight: 800;
    line-height: 35px;
    letter-spacing: -0.66px;
  }
  
  .cardparagraph2 {
    position: relative;
    color: #000;
    font-size: 15px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: -0.3px;
    padding-left: 30px;
  }
  